
/* line 1 : /Users/juliaryan/Desktop/pingpong/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
@font-face {
  font-family: budmojigglerimport;
  src: url("../budmojiggler.ttf");
}

/* line 12 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
body, footer, #pull {
  background-color: #fffbea;
}

/* line 16 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#draw, #map-canvas, #prizes {
  background-color: #e62240;
}

/* line 20 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#sponsors, #signup {
  background-color: #000;
}

/* line 24 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#draw, #signup, #prizes, #sponsors {
  color: #fffbea;
}

/* line 29 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
a.menu {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

/* line 35 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.signup-button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 45 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
body {
  font: 18px 'Lato', Helvetica, sans-serif;
  color: #000;
}

/* line 49 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
h1,
h2,
h3,
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 52 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
h1,
h2 {
  text-align: center;
  padding: 25px 0px;
}

/* line 55 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
h1 {
  font: 52px 'Pacifico', serif;
  font-weight: 600;
}

/* line 58 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
h2 {
  font: 48px 'Pacifico', serif;
}

/* line 60 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
h3 {
  text-transform: uppercase;
  text-align: center;
}

/* line 63 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
p {
  padding-bottom: 10px;
}

/* line 65 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
a {
  text-decoration: none;
  color: #e62240;
}

/* line 68 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.content {
  width: 70%;
  padding-top: 20px;
  margin: 0 auto;
}

/* line 75 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.heading {
  font: 64px budmojigglerimport, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 79 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#main-nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  margin: 0 auto;
  line-height: 2.5;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px -2px #000;
  -moz-box-shadow: 0 2px 5px -2px #000;
  box-shadow: 0 2px 5px -2px #000;
}

/* line 89 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
a.menu {
  color: #fffbea;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 25px;
}

/* line 95 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
a.menu:hover,
a.menu:focus {
  color: #e62240;
}

/* line 98 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.clearfix {
  content: " ";
  display: table;
}

/* line 101 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.clearfix:after {
  clear: both;
}

/* line 103 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#pulldown-menu {
  display: none;
}

/* line 105 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#hero {
  background-image: url("../images/pingpongbg.jpg");
  background-size: cover;
  background-position: center top;
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  height: 100vh;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -ms-filter: sepia(1);
  -o-filter: sepia(1);
  filter: sepia(1);
}

/* line 119 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#draw {
  height: auto;
  text-align: center;
}

/* line 122 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#draw h2 {
  padding-bottom: 0px;
}

/* line 124 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#draw img {
  width: 100%;
}

/* line 128 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#signup {
  height: 60vh;
  text-align: center;
}

/* line 131 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.signup-button {
  background: transparent;
  display: block;
  width: 200px;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fffbea;
  cursor: pointer;
}

/* line 145 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.signup-button:hover,
.signup-button:focus {
  background-color: #fffbea;
  color: #e62240;
  outline: none;
  font-weight: 700;
}

/* line 153 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#about {
  margin-bottom: 20px;
}

/* line 156 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#about h3 {
  padding: 7px 0;
}

/* line 158 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.about-details {
  text-align: center;
}

/* line 160 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#map-canvas {
  height: 400px;
}

/* line 164 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#prizes {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

/* line 168 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.prize {
  display: inline-block;
  width: 50%;
  margin: 10px;
  vertical-align: top;
}

/* line 173 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.prize h3 {
  padding-bottom: 20px;
}

/* line 178 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#sponsors {
  height: 100vh;
  text-align: center;
}

/* line 181 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
.sponsor-logo img {
  margin: 20px;
  vertical-align: top;
}

/* line 186 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
footer {
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: #545454;
}

/* line 191 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#contact {
  float: left;
  padding: 10px;
}

/* line 194 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
#attribution {
  float: right;
  padding: 10px;
}

/* line 198 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
@media only screen and (min-width: 320px) and (max-width: 465px) {

/* line 199 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  body {
    font: 16px 'Lato', Helvetica, sans-serif;
    margin-bottom: 0px;
  }

/* line 202 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h1 {
    font-size: 23px;
  }

/* line 204 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h2 {
    font-size: 23px;
  }

/* line 206 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .content {
    width: 90%;
    height: 60vh;
  }

/* line 209 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #hero {
    display: none;
  }

/* line 211 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .heading {
    font-size: 26px;
  }

/* line 213 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #main-nav {
    float: left;
    height: auto;
    width: 100%;
    display: none;
  }

/* line 218 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu {
    display: block;
    color: #000;
    background-color: #000;
    width: 100%;
    text-align: right;
    margin: 0 auto;
  }

/* line 225 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
  }

/* line 232 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu a.fa {
    color: #fffbea;
  }

/* line 234 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.menu {
    display: block;
    width: 50%;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #fffbea;
    padding: 2px;
  }

/* line 242 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.menu:hover {
    color: #fffbea;
    background-color: #e62240;
    border-bottom: none;
  }

/* line 246 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.noborder {
    border-bottom: none;
  }

/* line 248 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .signup-button {
    width: 120px;
    padding: 5px 20px;
    font-size: 16px;
  }

/* line 252 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #about {
    height: 80vh;
  }

/* line 254 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .prize {
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }

/* line 259 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .prize h3 {
    padding-bottom: 10px;
  }

/* line 261 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.fa {
    font-size: 1.5em;
    line-height: 2em;
    margin: 0px 10px;
  }
}

/* line 266 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
@media only screen and (min-width: 466px) and (max-width: 767px) {

/* line 267 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  body {
    font: 16px 'Lato', Helvetica, sans-serif;
    margin-bottom: 0px;
  }

/* line 270 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h1 {
    font-size: 34px;
    padding: 20px 0px;
    margin: 0;
  }

/* line 274 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h2 {
    font-size: 34px;
  }

/* line 276 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .heading {
    font-size: 38px;
  }

/* line 278 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #main-nav {
    height: auto;
    display: none;
    float: left;
    width: 100%;
  }

/* line 283 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu {
    display: block;
    color: #000;
    background-color: #000;
    width: 100%;
    text-align: right;
    margin: 0 auto;
  }

/* line 290 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
  }

/* line 297 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  #pulldown-menu a.fa {
    color: #fffbea;
  }

/* line 299 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.menu {
    display: block;
    width: 50%;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #fffbea;
    padding: 2px;
  }

/* line 307 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.menu:hover {
    color: #fffbea;
    background-color: #e62240;
    border-bottom: none;
  }

/* line 311 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.noborder {
    border-bottom: none;
  }

/* line 313 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  a.fa {
    font-size: 1.5em;
    line-height: 2em;
    margin: 0px 10px;
  }
}

/* line 318 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* line 319 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h1 {
    font-size: 44px;
  }

/* line 321 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  h2 {
    font-size: 42px;
  }

/* line 323 : /Users/juliaryan/Desktop/pingpong/source/stylus/stylesheet.styl */
  .heading {
    font-size: 48px;
  }
}
