// --- FONTFACE IMPORTS --- //

@font-face
	font-family budmojigglerimport   // H1
	src url('../budmojiggler.ttf')
	url('../budmojiggler')  // IE
@font-face
	font-family Pacificoimport   // H2
	src url('../Pacifico.ttf')
	url('../Pacifico')  // IE
@font-face
	font-family Cabin-Regularimport   // H3 & BODY
	src url('../Cabin-Regular.otf')
	url('../Cabin-Regular')  // IE


// --- INTERPOLATION ---//

mainBackground = 'body, footer, #pull'
{mainBackground}
	background-color #FFFBEA

altBackground = '#draw, #bracket, #map-canvas, #prizes'
{altBackground}
	background-color #E62240

blackBackground = '#sponsors, #form, form input, form select'
{blackBackground}
	background-color #000

altHeading = '#draw, #form, #prizes, #sponsors'
{altHeading}
	color #FFFBEA

// --- PLACEHOLDERS --- //

$navTransition
	-webkit-transition color 0.2s ease
	-moz-transition color 0.2s ease
	-o-transition color 0.2s ease
	transition color 0.2s ease

$formTransition
	-webkit-transition all 0.3s ease
	-moz-transition all 0.3s ease
	-o-transition all 0.3s ease
	transition all 0.3s ease

$imgCircles
	-webkit-border-radius 50%
	-moz-border-radius 50%
	border-radius 50%
	-webkit-filter sepia(70%)
	-moz-filter sepia(70%)
	-ms-filter sepia(70%)
	-o-filter sepia(70%)
	filter sepia(70%)
	&:hover
	&:focus
		-webkit-filter sepia(0%)
		-moz-filter sepia(0%)
		-ms-filter sepia(0%)
		-o-filter sepia(0%)
		filter sepia(0%)

// --- GENERAL --- //

body
	font 18px Cabin-Regularimport, Helvetica, sans-serif
	color #000
	margin-bottom 50px

h1, h2, h3, p
	-webkit-margin-before 0
	-webkit-margin-after 0

h1, h2
	text-align center
	padding 20px 0px
h1
	font 88px budmojigglerimport, Helvetica, sans-serif
	text-transform uppercase
	font-weight 700
h2
	font 64px Pacificoimport, serif
	text-align center
h3
	text-transform uppercase
a
	text-decoration none

.content
	width 100%
	padding-top 15px

// --- HEADER & NAV --- //
#main-nav
	width 100%
	height 50px
	background-color #000
	margin 0 auto
	line-height 2.5
	text-align center
	-webkit-box-shadow 0 2px 5px -2px #000
	-moz-box-shadow 0 2px 5px -2px #000
	box-shadow 0 2px 5px -2px #000

a.menu
	color #FFFBEA
	font-size 20px
	text-transform uppercase
	padding 0px 25px
	@extends $navTransition
	&:hover
	&:focus
		color #E62240
.clearfix
	content " "
	display table
	&:after
		clear both
#pulldown-menu
	display none

#hero
	background-image url('../images/pingpongbg.jpg')
	background-size cover
	background-position center top
	-webkit-background-attachment fixed
	background-attachment fixed
	height 100vh
	-webkit-filter sepia(70%)
	-moz-filter sepia(70%)
	-ms-filter sepia(70%)
	-o-filter sepia(70%)
	filter sepia(70%)

// --- DRAW --- //
#draw
	height 125px
#bracket
	height 2075px

div.jQBracket
	font-family Cabin-Regularimport, Helvetica, sans-serif
	width 960px!important
	margin 0 auto

div.jQBracket .round
	width 120px

div.jQBracket .team
	background-color #FFFBEA // default - no score
	color #000 // default - no score
	width 120px
	line-height 20px
	height 26px
	margin-bottom 5px
	-webkit-border-radius 0 10px 0
	-moz-border-radius 0 10px 0
	border-radius 0 10px 0

div.jQBracket .team div.score
	background-color #000 // default - no score
	color #FFFBEA // default - no score
	font-weight bold
	width 25px
	-webkit-border-radius 0 10px 0
	-moz-border-radius 0 10px 0
	border-radius 0 10px 0

div.jQBracket .team.win
	background-color #FFFBEA
	color #000
div.jQBracket .team.win div.score
	color #FFFBEA
	background-color #000


div.jQBracket .team.lose
	background-color #000
	color #FFFBEA
div.jQBracket .team.lose div.score
	color #000
	background-color #FFFBEA

div.jQBracket .team.win.highlight
	background-color #E62240
	color #000
	border 1px solid #000

div.jQBracket .team.lose.highlight
	background-color #FFFBEA
	color #000
	border 1px solid #000

div.jQBracket .connector
	border-color #FFFBEA

div.jQBracket .connector div.connector
	border-color #FFFBEA

div.jQBracket .connector.highlightLoser
	border-color #FFFBEA
div.jQBracket .connector div.connector.highlightLoser
	border-color #FFFBEA

div.jQBracket .connector.highlightWinner, div.jQBracket .connector div.connector.highlightWinner
	border-color #000

div.jQBracket .highlightWinner .bubble
	color #000
	background-color #FFFBEA
	&:after
		border-right 6px solid #FFFBEA

div.jQBracket .highlightLoser .bubble,
div.jQBracket .bubble.third,
div.jQBracket .bubble.fourth
	color #FFFBEA
	background-color #000
	&:after
		border-right 6px solid #000

div.jQBracket .team:first-child
	border-bottom none

// --- ABOUT --- //
#about
	margin-bottom 30px
	text-align center
#about h3
	padding 7px 0
#map-canvas
	height 400px

// --- FORM --- //
#form
	height 100vh
form input
form select
	display block
	border 1px solid #FFFBEA
	padding 5px
	margin 20px auto
	color #E62240
	line-height 2.5
	text-align center
	text-transform uppercase
	@extends $formTransition
	&:hover
	&:focus
		border 2px solid #E62240
		outline 2px solid #E62240
form input[type='submit']
	width 344px
	color #FFFBEA
	border double
	@extends $formTransition
	&:hover
	&:focus
		background-color #E62240
		color #000


// --- PRIZES --- //
#prizes
	height 100vh
	margin 0 auto
	text-align center
.about-prizes
	text-align left
	margin 0 50px
.prize
	display inline-block
	width 40%
	margin 25px
	vertical-align top
	text-align left
.prize h3
	padding-bottom 20px
.img-prize
	float left
	width 120px
	height 120px
	margin-right 20px
	@extends $imgCircles


// --- SPONSORS --- //
#sponsors
	height 100vh
	text-align center
.circle
	display inline-block
.circle img
	width 200px
	height 200px
	margin 25px
	@extends $imgCircles

// --- FOOTER --- //
footer
	position fixed
	bottom 0
	width 100%
	text-align center
	-webkit-box-shadow 0px -3px 15px -5px #000
	-moz-box-shadow 0px -3px 15px -5px #000
	box-shadow 0px -3px 15px -5px #000

a.fa
	color #000
	margin 0px 25px
	line-height 1.5
	@extends $navTransition
	&:hover
	&:focus
		color #E62240


@media only screen and (min-width: 320px) and (max-width: 465px)
	body
		font 16px Cabin-Regularimport, Helvetica, sans-serif
		margin-bottom 0px
	header
		height 100vh
	h1
		font-size 52px
		font-weight 200

	h2
		font-size 38px
	#hero
		display none
	#main-nav
		height auto
		display none
		background-color #000
	#pulldown-menu
		display block
		color #000
		background-color #000
		width 100%
		text-align right
		margin 0 auto
		&:after
			content ""
			width 30px
			height 30px
			display inline-block
			position absolute
			top 10px
	#pulldown-menu a.fa
		color #FFFBEA

	a.menu
		display block
		width 50%
		font-size 18px
		margin 0 auto
		text-align center
		border-bottom 1px solid #FFFBEA
		padding 2px
		&:hover
			color #FFFBEA
			background-color #E62240
			border-bottom none
	a.noborder
		border-bottom none
	#main-nav
		float left
		height auto
		width 100%
	#about
		height auto
	form input[type='submit']
		width 73%
	input
		width 70%
	#prizes
		height 100%
	.prize
		display block
		width 100%
		margin 20px auto
		text-align center
	.prize h3
	.circle h3
		padding-bottom 10px
	.prize-description
		display none
	.img-prize
		float none
		margin 0
	#sponsors
		height 900px
	.circle
		display block
	.circle img
		width 120px
		height 120px
		border-radius 50%
		margin 10px auto
		text-align center
	a.fa
		font-size 1.5em
		line-height 2em
		margin 0px 10px
	#bracket
		height 4000px
	div.jQBracket
		width 100%!important
		margin 0 auto
	div.jQBracket .round
		width 70px
	div.jQBracket .team
		width 70px
		font-size 12px
		line-height 15px
		height 20px
		margin-bottom 5px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none
	div.jQBracket .team div.score
		width 10px
		font-size 10px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none

@media only screen and (min-width: 466px) and (max-width: 767px)
	body
		font 16px Cabin-Regularimport, Helvetica, sans-serif
		margin-bottom 0px
	header
		height 100vh
	h1
		font-size 64px
		font-weight 100
	h2
		font-size 46px
	#hero
		display none
	#main-nav
		height auto
		display none
		background-color: #000
	#pulldown-menu
		display block
		color #000
		background-color #000
		width 100%
		text-align right
		margin 0 auto
		&:after
			content ""
			width 30px
			height 30px
			display inline-block
			position absolute
			top 10px
	#pulldown-menu a.fa
		color #FFFBEA
	a.menu
		display block
		width 50%
		font-size 18px
		margin 0 auto
		text-align center
		border-bottom 1px solid #FFFBEA
		padding 2px
		&:hover
			color #FFFBEA
			background-color #E62240
			border-bottom none
	a.noborder
		border-bottom none
	#main-nav
		float left
		height auto
		width 100%
	form input[type='submit']
		width 73%
	input
		width 70%
	div.jQBracket
		width 100%!important
		margin 0
	div.jQBracket .round
		width 41px
	div.jQBracket .team
		width 59px
		font-size 12px
		line-height 15px
		height 20px
		margin-bottom 5px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none
	div.jQBracket .team div.score
		width 7px
		font-size 10px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none
	.prize
		display inline-block
		text-align center
		margin 10px auto
	.img-prize
		float none
		margin 0
		width 130px
		height 130px
	.prize-description
		display none
	.circle img
		width 150px
		height 150px
		margin 15px


@media only screen and (min-width: 768px) and (max-width: 1024px)
	#hero
		background-position center bottom
	div.jQBracket
		width 100%!important
		margin 0
	div.jQBracket .round
		width 80px
	div.jQBracket .team
		width 80px
		font-size 12px
		line-height 15px
		height 20px
		margin-bottom 5px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none
	div.jQBracket .team div.score
		width 10px
		font-size 10px
		-webkit-border-radius none
		-moz-border-radius none
		border-radius none
	.prize
		display inline-block
		text-align center
		margin 10px auto
	.img-prize
		float none
		margin 0
		width 150px
		height 150px
	.prize-description
		display none
	.circle img
		width 150px
		height 150px
		margin 15px
